* {
  list-style-type: none;
  font-family: 'Futura', sans-serif;
}

body {
  background:#F6F6F6;
}

.hide{
  display: none;
}
header {
  display: flex;
  background: linear-gradient(#333333, #0D0D0D);
  height: 100px;
  margin:0;
  padding:0;
  margin-bottom: 20px;
  font-size: .5em;
  border-bottom: 2px solid cyan;
}

p {
  color: white;
}

.content {
  display: flex;
}
.albumGallery {
  width: 100%;
  height: 100%;
}

.headerText {
  color: white;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  font-size: 5em;
}

.threeImagesBox {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
  height: 200px;
}


.imgDiv {
  margin-bottom: 20px;
  transition: ease .5s;

}
.imgDiv:hover {
  -webkit-filter:  grayscale(1);
}
.imageCover {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 200px;

}
.caption {
  text-align: center;
}

.albumCover {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 125px;
  background-color: grey;
}

.albumTitle {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 75px;
  clear: left;
  display: flex;
  border-bottom: 5px solid grey;
}

.imageTitle {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 75px;
  clear: left;
  display: flex;
  border-bottom: 5px solid grey;
}

.albumTitleText {
  margin: 0 auto;
  line-height: 75px;
  height: 75px;
  color: grey;
}

.imageTitleText {
  margin: 0 auto;
  line-height: 75px;
  height: 75px;
  color: grey;
}


.sideBar {
  width: 20%;
  margin: 0;
  padding: 0;
  height: 750px;
  left: 0;
  display: flex;
  border-top: 10px #333333 solid;
  border-bottom: 10px #333333 solid;
  box-sizing: border-box;
  align-items: center;
  background: #E8E8E8;
}

.albumButtonBox {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.albumButton {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  clear: left;
  padding: 0;
  line-height: 40px;
}

.imageGalleryContent {
  width: 80%;
  margin:0;
  padding: 0;
}
.imageGalleryContent2 {
  width: 80%;
  margin:0;
  padding: 0;
}
.imageGalleryHeader {
  height: 100px;
  margin:0;
  padding:0;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.imageGalleryHeaderText {
  color: white;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  font-size: 5em;
}

.imageGallery {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  background:rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  text-align:center;
}

.overlay img {
  margin-top: 10%;
  width: 500px;
  height: 500px;
}

.overlay p {
  color: white;
  font-size: 2em;
}
